<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.websocketitem.mapper.PointsRulesMapper">

    <resultMap id="BaseResultMap" type="com.example.websocketitem.model.PointsRules">
            <id property="pointsRulesId" column="points_rules_id" jdbcType="INTEGER"/>
            <result property="pointsRulesContent" column="points_rules_content" jdbcType="VARCHAR"/>
            <result property="pointsRulesPointsRules" column="points_rules_points_rules" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        points_rules_id,points_rules_content,points_rules_points_rules
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tcd_points_rules
        where  points_rules_id = #{pointsRulesId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tcd_points_rules
        where  points_rules_id = #{pointsRulesId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="points_rules_id" keyProperty="pointsRulesId" parameterType="com.example.websocketitem.model.PointsRules" useGeneratedKeys="true">
        insert into tcd_points_rules
        ( points_rules_id,points_rules_content,points_rules_points_rules
        )
        values (#{pointsRulesId,jdbcType=INTEGER},#{pointsRulesContent,jdbcType=VARCHAR},#{pointsRulesPointsRules,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="points_rules_id" keyProperty="pointsRulesId" parameterType="com.example.websocketitem.model.PointsRules" useGeneratedKeys="true">
        insert into tcd_points_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="pointsRulesId != null">points_rules_id,</if>
                <if test="pointsRulesContent != null">points_rules_content,</if>
                <if test="pointsRulesPointsRules != null">points_rules_points_rules,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="pointsRulesId != null">#{pointsRulesId,jdbcType=INTEGER},</if>
                <if test="pointsRulesContent != null">#{pointsRulesContent,jdbcType=VARCHAR},</if>
                <if test="pointsRulesPointsRules != null">#{pointsRulesPointsRules,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.websocketitem.model.PointsRules">
        update tcd_points_rules
        <set>
                <if test="pointsRulesContent != null">
                    points_rules_content = #{pointsRulesContent,jdbcType=VARCHAR},
                </if>
                <if test="pointsRulesPointsRules != null">
                    points_rules_points_rules = #{pointsRulesPointsRules,jdbcType=VARCHAR},
                </if>
        </set>
        where   points_rules_id = #{pointsRulesId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.websocketitem.model.PointsRules">
        update tcd_points_rules
        set 
            points_rules_content =  #{pointsRulesContent,jdbcType=VARCHAR},
            points_rules_points_rules =  #{pointsRulesPointsRules,jdbcType=VARCHAR}
        where   points_rules_id = #{pointsRulesId,jdbcType=INTEGER} 
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tcd_points_rules
    </select>
</mapper>
