<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.websocketitem.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.websocketitem.model.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="chatLogin" column="chat_login" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone_number,chat_login,
        password,nickname,create_time,status,parent_id
    </sql>
</mapper>
